@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.maindiv{
    position: absolute;
    margin-top: 20px;
    display: flex;
    background-color:#101b40;
    height: 240px;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
  
}
.img img{
   width: 100%;
   height: 240px;
   filter: brightness(0) saturate(50%) invert(70%) sepia(13%) saturate(7400%) hue-rotate(142deg) brightness(60%) contrast(150%);
}
.leftdiv{
    width: 3%; 
    display: flex;
    flex-direction: column;
    border-right: solid #99770f;
    overflow: hidden;
}
.leftdiv h2{
    position: absolute;
    color:#c3cdde;
    transform: translate(-50%, -50%) rotate(-90deg);
    top: 113px;
    left: 13px;
    font-size: 20px;
}
.centerdiv{
    width: 75%;
    overflow: hidden;
    border-right: solid wheat 2px;
}
.rightdiv{
    width: 12%;
   
   
}
.date{
    position: absolute;
    color: #c3cdde;
    top: 45px;
    left: 80px;
    display: flex;
}
.leftflower img{
    position: absolute;
    top: 85px;
    width: 190px;
    height: 190px;
    left: 100px;
    transform: translate(-50%, -50%) rotate(-7deg);
}
.date .h1,.h2,h6{
    position: absolute;
    padding-left: 100px;
    transform: translate(-70%, -70%) rotate(-30deg);
    
}
.date .h1{
    left: 160px;
    top: 60px;
    font-family: 'Lavishly Yours', cursive;
    font-size: 55px;
   
}
.date .h2{
    font-family: 'Lavishly Yours', cursive;
    left: 330px;
    top: 45px;
    font-size: 55px;
}
.date h6{
    left: 230px;
    top: 60px;
    font: optional;
    font-family: 'Lavishly Yours', cursive;
    font-size: 25px;
}
.text {
    position: absolute;
    top: 0;
    left: 555px;
    font-size: 10px;
}
.text h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #c3cdde;
    font-size: 20px;
    margin: 0;
}
.text h4{
    position: absolute;
    color: #c3cdde;
    left: 63px;
    margin: 0;
    font-size: 17px;
    font-family: 'Lavishly Yours', cursive;
}
.rightflower img{
   height: 190px;
   width: 190px;
   position: absolute;
   transform: translate(-50%, -50%) rotate(-180deg);
   top: 153px;
   left: 640px;
}
.names{
    position: absolute;
    top: 135px;
    left: 125px;
    display: flex;
    flex-direction: column;
    margin-top: 10px; 
}
.name1{
    display: flex;
    gap: 15px;
}
.name h5{
    opacity: 0.7;
    font-size: 10px;
    color: #c3cdde;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.name h3{
    font-size: 15px;
    color: #c3cdde;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn{
    position: absolute;
    top: 80px;
    left: 500px;
    margin: 20px;
    padding: 5px;
    width: 82px;
    height: 20px;
    font-size: 9px;
    background-color:#101b40;
    border: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 2px;
    transform: translate(-50%, -50%) rotate(-320deg);
}
.loveimg img{
    width: 110px;
    height: 110px;
    position: absolute;
    top: 65px;
    border-radius: 3px;
    left: 760px;
    border: solid gray 1px;
}
.date1{
    color: #c3cdde;
    position: absolute;
    top: 30px;
    left: 763px;
    font-size: 15px;
    font-family: 'Lavishly Yours', cursive;
}
.year{
    color: #c3cdde;
    position: absolute;
    top: 172px;
    border-radius: 3px;
    left: 773px;
    font-size: 15px;
    gap: 15px;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}
.contant{
    color: #c3cdde;
    position: absolute;
    top: 200px;
    border-radius: 3px;
    left: 750px;
    font-size: 11px;
    gap: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',serif;
}
.heart img{ 
    position: absolute;
    top: -65px;
    padding-left: 35px;
    width: 165px;
    height: 130px;
    filter: brightness(0) saturate(50%) invert(70%) sepia(13%) saturate(7400%) hue-rotate(142deg) brightness(60%) contrast(150%);
}
.flight img{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 28px;
    left: 750px;
    transform: translate(-70%, -70%) rotate(-150deg);
}
 .borcode img{
            position: absolute;
            top:207px;
            width: 160px;
            height: 30px;
            filter: brightness(0) saturate(0%) invert(1000%) sepia(0%) saturate(7400%) hue-rotate(142deg) brightness(100%) contrast(150%);
            padding-left: 40px;
            color: white;
        }

    